In [3]:
import pandas as pd
data = pd.read_csv('cleared\\zakaz2022.csv')
data

,Unnamed: 0,Заказ наряд,Дата,Цена,ТС,Гос номер
0,0,"Заказ-наряд №: 11 от 30.07.2021, ТС: Hyundai i...",2021-07-30,1700,Hyundai ix35,А681НС196
1,1,"Заказ-наряд №: 16 от 31.07.2021, ТС: ВАЗ 2109 ...",2021-07-31,1000,ВАЗ 2109,Т326ЕОЛ72
2,2,"Заказ-наряд №: 18 от 31.07.2021, ТС: ВАЗ 2114 ...",2021-07-31,1000,ВАЗ 2114,В034НС72
3,3,"Заказ-наряд №: 19 от 31.07.2021, ТС: Toyota Ca...",2021-07-31,1000,Toyota Camry,Х050АТ96
4,4,"Заказ-наряд №: 20 от 31.07.2021, ТС: Hyundai S...",2021-07-31,8000,Hyundai Solaris,О564КН72
...,...,...,...,...,...,...
1512,1512,"Заказ-наряд №: 8686 от 15.02.2023, ТС: Kia Rio...",2023-02-15,1500,Kia Rio,С012УХ72
1513,1513,"Заказ-наряд №: 8689 от 16.02.2023, ТС: LADA VE...",2023-02-16,500,LADA VESTA,Т791РМ72
1514,1514,"Заказ-наряд №: 8704 от 17.02.2023, ТС: Самолет...",2023-02-17,300,Самолето Ветролет,NaN
1515,1515,"Заказ-наряд №: 8714 от 18.02.2023, ТС: Ravon R...",2023-02-18,2000,Ravon R4,У525КН72
1516,1516,"Заказ-наряд №: 8717 от 19.02.2023, ТС: Chevrol...",2023-02-19,500,Chevrolet NIVA,У776РЕ72

In [4]:
plot_data = data.groupby('ТС')['Цена'].describe()[['count', 'mean']].sort_values(by='mean', ascending=False)
plot_data[plot_data['count']>5]
# Средний чек по модели авто по 6 и более чекам

                      count         mean
ТС
Mitsubishi Pajero       6.0  4516.666667
ГАЗ 2217                8.0  4350.000000
Opel Corsa              6.0  3200.000000
LADA 217230  PRIORA     6.0  3133.333333
Hyundai Elantra         8.0  3125.000000
Volkswagen Touareg      9.0  3072.222222
Skoda Octavia           8.0  2768.750000
LADA Granta             6.0  2683.333333
Nissan X-Trail          8.0  2512.500000
Nissan Note             6.0  2450.000000
Ford Focus             14.0  2421.428571
Opel Astra             19.0  2410.526316
Nissan Teana            7.0  2385.714286
Hyundai Solaris        22.0  2377.272727
LADA  GRАNТА 219010    15.0  2326.666667
Audi A6                 8.0  2312.500000
Volkswagen Polo        18.0  2277.777778
Kia Cerato              7.0  2128.571429
Renault Duster          9.0  2122.222222
Kia Sorento             8.0  2062.500000
Toyota Camry           16.0  1981.250000
Honda Accord            7.0  1957.142857
Toyota Hilux Pick Up  205.0  1802.434146
Daewoo Nexia           11.0  1790.909091
Hyundai ix35            6.0  1783.333333
Nissan Qashqai         11.0  1781.909091
ВАЗ Веста              14.0  1778.571429
Kia Rio                41.0  1770.707317
ВАЗ 2114                6.0  1750.000000
Kia Ceed               24.0  1722.916667
LADA VESTA GFK 110     42.0  1715.476190
LADA GFL 110 VESTA     24.0  1708.333333
LADA VESTA            125.0  1620.400000
Toyota Avensis          8.0  1525.000000
Toyota RAV4             7.0  1500.000000
Renault Logan          42.0  1478.571429
Nissan Almera          15.0  1456.666667
Самолето Ветролет      38.0  1429.210526
Kia Optima              7.0  1428.571429
LADA 111730 КАЛИНА     81.0  1422.839506
Toyota Corolla         19.0  1381.578947
Datsun On-Do           30.0  1356.666667
Mitsubishi Lancer       9.0  1055.555556
Hyundai Getz            6.0  1016.666667