In [2]:
import pandas as pd
data = pd.read_csv('Data\\dst-3.0_16_1_hh_database.csv', sep=';')

In [2]:
data['Ищет работу на должность:'].value_counts()

Системный администратор                                                  3099
Инженер                                                                   966
Аналитик                                                                  809
Менеджер проектов                                                         745
Руководитель проекта                                                      718
                                                                         ...
Системный администратор Linux, DevOps, Разработчик Golang                   1
Инженер КИПиА,инженер АСУТП ,видеоинженер                                   1
SEO-специалист | Специалист по интернет-рекламе | Интернет-маркетолог       1
Специалист технических систем безопастности                                 1
Аналитик данных, Математик                                                  1
Name: Ищет работу на должность:, Length: 14929, dtype: int64

In [3]:
data['Образование и ВУЗ'].apply(lambda x: 'образование' in x).value_counts()

True    44744
Name: Образование и ВУЗ, dtype: int64

In [4]:
data['Образование'] = data['Образование и ВУЗ'].apply(lambda x: x[:x.find('образование')-1]).astype('category')
data['Образование'].value_counts()

Высшее                 33863
Среднее специальное     5765
Неоконченное высшее     4557
Среднее                  559
Name: Образование, dtype: int64

In [18]:
def extract_unique_elements(col:pd.Series):
    result = set()
    for column_value in col:
        for element in column_value.split(','):
            result.add(element.strip())
    return result

extract_unique_elements(data['Занятость'])

{'волонтерство',
 'полная занятость',
 'проектная работа',
 'стажировка',
 'частичная занятость'}

In [3]:
exchange_rates = pd.read_csv('Data\\ExchangeRates.csv')
exchange_rates['date'] = pd.to_datetime(exchange_rates['date'])
exchange_rates.head(10)

  currency per       date   time    close  vol  proportion
0      USD   D 2017-12-29  00:00  57.6291    0           1
1      USD   D 2017-12-30  00:00  57.6002    0           1
2      USD   D 2017-12-31  00:00  57.6002    0           1
3      USD   D 2018-01-01  00:00  57.6002    0           1
4      USD   D 2018-02-01  00:00  57.6002    0           1
5      USD   D 2018-03-01  00:00  57.6002    0           1
6      USD   D 2018-04-01  00:00  57.6002    0           1
7      USD   D 2018-05-01  00:00  57.6002    0           1
8      USD   D 2018-06-01  00:00  57.6002    0           1
9      USD   D 2018-07-01  00:00  57.6002    0           1