In [ ]:
import pandas as pd

data1 = pd.read_csv('data\movies_data\\ratings1.csv')
data2 = pd.read_csv('data\movies_data\\ratings2.csv')
movies = pd.read_csv('data\movies_data\\movies.csv')
data = pd.concat([data1, data2], ignore_index=True)

In [ ]:
del data1
del data2

In [ ]:
data = data.drop_duplicates(ignore_index=True)
dates = pd.read_csv('data\movies_data\\dates.csv')

In [ ]:
dates['date'] = pd.to_datetime(dates['date'])
dates['date'].dt.year.value_counts()

In [ ]:
joined = data.join(
    movies.set_index('movieId'),
    on='movieId',
    how='left'
)

In [ ]:
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

joined['Year'] = joined['title'].apply(get_year_release)
joined['Year'].isna().value_counts()

In [ ]:
joined.pivot_table(
    values='rating', 
    index='userId', 
    aggfunc=['count','mean']
    ).sort_values(
        by=[('count','rating'),('mean', 'rating')], 
        ascending=[True, False]
        )

In [25]:
joined[joined['Year']==2018].pivot_table(
    values='rating', 
    index='genres', 
    aggfunc=['count','mean']
    ).sort_values(
        by=[('count','rating'),('mean', 'rating')], 
        ascending=[False, False]
        )

                                        count      mean
                                       rating    rating
genres
Action|Adventure|Sci-Fi                    14  3.928571
Action|Comedy|Sci-Fi                       12  3.875000
Comedy                                      8  3.312500
Action|Adventure|Children|Sci-Fi            5  3.900000
Animation|Comedy                            5  3.500000
Action|Adventure|Animation|Children         4  3.000000
Drama|Horror|Thriller                       4  2.750000
Action|Adventure|Fantasy                    4  2.500000
Adventure|Mystery|Sci-Fi|Thriller           3  3.833333
Action|Adventure|Comedy|Fantasy|Sci-Fi      3  3.666667
Documentary                                 2  4.000000
Action|Adventure|Thriller                   2  3.750000
Action|Adventure|Drama|Sci-Fi|Thriller      2  3.250000
Comedy|Drama                                2  3.250000
Action|Fantasy|Sci-Fi                       2  2.750000
Horror|Mystery|Sci-Fi|Thriller              2  2.250000
Adventure|Comedy|Fantasy                    1  4.500000
Adventure|Thriller                          1  4.500000
Comedy|Fantasy|Sci-Fi                       1  4.500000
Comedy|Romance                              1  4.500000
Action|Comedy|Crime|Horror                  1  4.000000
Action|Crime|Drama|Thriller                 1  4.000000
Action|Animation                            1  3.500000
Action|Mystery|Sci-Fi|Thriller              1  3.500000
Crime|Drama                                 1  3.500000
Horror|Mystery|Thriller                     1  3.500000
Sci-Fi|Thriller                             1  3.500000
Action|Comedy                               1  3.000000
Adventure|Children|Fantasy|Sci-Fi           1  3.000000
Action|Crime|Thriller                       1  2.500000
Comedy|Crime|Drama                          1  2.500000
Drama|Fantasy|Thriller                      1  2.000000
Crime|Drama|Mystery|Thriller                1  1.500000

In [ ]:
joined['YearRating'] = dates['date'].dt.year

In [ ]:
joined[joined['YearRating']==2018].pivot_table(
    values='rating', 
    index='genres',
    aggfunc='mean'
    ).sort_values(by='rating', ascending=False).head(50)